#pass{
    display: none;
}
#newuserdiv{
    display: none;
    position: relative;
    background-color: salmon;
    border-color: cadetblue;
    border-radius: 8px;
    width: 20vw;
    right: 40vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#closenew, #close{
    position: absolute;
    top: 0%;
    right: 0%;
}
#oknew, #newPassword, #newName, #p{
    padding: 3%;
    margin: 2%;
    border-radius: 8px;
}
#oknew, #newPassword{
    left: 0%;
}
#back{
    position: fixed;
    top: 0%;
    right: 0%;
    padding: 1%;
    margin: 1%;
}
.add{
    display: block;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: salmon;
    border-color: cadetblue;
    border-radius: 8px;
    color: rgb(17, 62, 64);
    position: relative;
    right: 38vw;
    width: 24vw;
}
#newuser{
    background-color: salmon;
    border-color: cadetblue;
    border-radius: 8px;
    padding: 1%;
    color: rgb(17, 62, 64);
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#pass{
    background-color: salmon;
    border-color: cadetblue;
    border-radius: 8px;
    position: relative;
    right: 38vw;
    width: 24vw;
    margin-top: 1%;
    margin-bottom: 1%;
}
